<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="sportsData.js"></script>
    <script src="indexjs.js"></script>
</head>
<body>
  <div class="container">
    <div id="app" v-cloak>
      {{this.sortToggle}}
      <h2>Football Searcher</h2>
      <input type="search" v-model="search" class="form-control" placeholder="Player Name"/>
      <!-- <select>
        <option v-for="item in 18">{{item+2000}}</option>
      </select> -->
      <table class="table" v-if="people.length>0">
        <thead>
          <tr>
            <th @click="sort('name')"><p>Name</p>
    					<i class="fas fa-sort-up" v-if="currentSortDir == 'asc' && currentSort == 'name'"></i>
    					<i class="fas fa-sort-down" v-if="currentSortDir == 'desc' && currentSort == 'name'"></i>
				    </th>
            <th @click="sort('team')"><p>Team</p>
              <i class="fas fa-sort-up" v-if="currentSortDir == 'asc' && currentSort == 'team'"></i>
              <i class="fas fa-sort-down" v-if="currentSortDir == 'desc' && currentSort == 'team'"></i>
            </th>
            <th @click="sort('position')"><p>Position</p>
              <i class="fas fa-sort-up" v-if="currentSortDir == 'asc' && currentSort == 'position'"></i>
              <i class="fas fa-sort-down" v-if="currentSortDir == 'desc' && currentSort == 'position'"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in sortedtable.slice(0, 7)">
            <!--player photo or team logo-->
            <td v-if="item.esbid">
              <h1 v-on:click=getDesc(item.id)>{{item.name}}</h1>
              <img v-bind:src="`https://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/${item.esbid}.png`"></img>
            </td>
            <td v-else><img v-bind:src="`https://static.nfl.com/static/site/img/logos/svg/teams/${item.teamAbbr}.svg`"></img></td>

            <!--team logo-->
            <td v-if="item.teamAbbr">
              <button @click="selectedTeam = item.teamAbbr.toLowerCase();teamSearchToggle = !teamSearchToggle;" v-bind:class="{ active: teamSearchToggle }">
                <img v-bind:src="`https://static.nfl.com/static/site/img/logos/svg/teams/${item.teamAbbr}.svg`"></img>
              </button>
            </td>
            <td v-else></td>

            <!--player position-->
            <td>
              <button @click="selectedPos = item.position.toLowerCase();posSearchToggle = !posSearchToggle;" v-bind:class="{ active: posSearchToggle }">
              <img v-bind:src="`https://conceptdraw.com/a2258c3/${pos[item.position]}/preview/128/pict--`" :alt=item.position></img>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
