#vue-table {
  margin: 1em 2em;
}
#vue-table a {
  font-weight: bold;
  text-decoration: none;
}
#vue-table a.active {
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

[v-cloak] {
  display: none;
}

input {
  margin: 1em 0;
}


h1 {
  text-align: center !important;
  font-size: 20px !important;
}

h2 {
  text-align: left !important;
  font-size: 30px !important;
  font-weight: bold !important;
}

td {
  height: 150px !important;
  width: 150px !important;
}

img {
    min-height: 150px !important;
    min-width: 150px !important;
    max-height: 200px !important;
    max-width: 200px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
